openapi: 3.1.0
info:
  title: Memfault Cloud REST Auth Releases API
  description: 'The Memfault Cloud REST API ingests device telemetry and exposes management for

    organizations, projects, devices, cohorts, software, releases, deployments,

    issues, and chunk ingestion. Endpoints are split across api.memfault.com (main),

    chunks.memfault.com (chunk ingestion), files.memfault.com (large file uploads),

    and ingress.memfault.com.

    '
  version: v0
  contact:
    name: Memfault
    url: https://api-docs.memfault.com/
servers:
- url: https://api.memfault.com
  description: Main API server
- url: https://chunks.memfault.com
  description: Chunks ingestion server
- url: https://files.memfault.com
  description: Files server (large uploads)
security:
- orgAuthToken: []
- basicAuth: []
tags:
- name: Releases
paths:
  /api/v0/organizations/{organization_slug}/projects/{project_slug}/releases:
    parameters:
    - $ref: '#/components/parameters/OrgSlug'
    - $ref: '#/components/parameters/ProjectSlug'
    get:
      tags:
      - Releases
      summary: List releases
      responses:
        '200':
          description: Paginated releases
    post:
      tags:
      - Releases
      summary: Create a release
      responses:
        '201':
          description: Created
  /api/v0/organizations/{organization_slug}/projects/{project_slug}/releases/{release_version}:
    parameters:
    - $ref: '#/components/parameters/OrgSlug'
    - $ref: '#/components/parameters/ProjectSlug'
    - name: release_version
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Releases
      summary: Get a release
      responses:
        '200':
          description: Release
    patch:
      tags:
      - Releases
      summary: Update a release
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Releases
      summary: Delete a release
      responses:
        '204':
          description: Deleted
  /api/v0/releases/latest:
    get:
      tags:
      - Releases
      summary: Get the latest release for a device
      description: Used by devices (with project key auth) to discover the latest OTA release.
      security:
      - projectKey: []
      parameters:
      - name: hardware_version
        in: query
        required: true
        schema:
          type: string
      - name: software_type
        in: query
        required: true
        schema:
          type: string
      - name: current_version
        in: query
        required: true
        schema:
          type: string
      - name: device_serial
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Latest release info
components:
  parameters:
    OrgSlug:
      name: organization_slug
      in: path
      required: true
      schema:
        type: string
    ProjectSlug:
      name: project_slug
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    orgAuthToken:
      type: http
      scheme: bearer
      bearerFormat: token
      description: 'Organization Auth Token. Use "Authorization: Bearer oat_xxx" for automation

        and full API access.

        '
    basicAuth:
      type: http
      scheme: basic
      description: 'Email + password or Email + user API key via HTTP Basic auth.

        '
    projectKey:
      type: apiKey
      in: header
      name: Memfault-Project-Key
      description: 'Memfault Project Key used by devices and ingestion endpoints (chunks,

        latest release lookup, events, coredumps).

        '
