openapi: 3.2.0
info:
  title: Memfault Cloud REST Software API
  description: 'The Memfault Cloud REST API ingests device telemetry and exposes management for

    organizations, projects, devices, cohorts, software, releases, deployments,

    issues, and chunk ingestion. Endpoints are split across api.memfault.com (main),

    chunks.memfault.com (chunk ingestion), files.memfault.com (large file uploads),

    and ingress.memfault.com.'
  version: v0
  contact:
    name: Memfault
    url: https://api-docs.memfault.com/
servers:
- url: https://api.memfault.com
  description: Main API server
- url: https://chunks.memfault.com
  description: Chunks ingestion server
- url: https://files.memfault.com
  description: Files server (large uploads)
security:
- orgAuthToken: []
- basicAuth: []
tags:
- name: Software
paths:
  /api/v0/organizations/{organization_slug}/projects/{project_slug}/software_types:
    parameters:
    - $ref: '#/components/parameters/OrgSlug'
    - $ref: '#/components/parameters/ProjectSlug'
    get:
      tags:
      - Software
      summary: List software types
      responses:
        '200':
          description: Paginated software types
      operationId: getApiV0OrganizationsByOrganizationSlugProjectsByProjectSlugSoftwareTypes
      x-operation-id-source: derived
    post:
      tags:
      - Software
      summary: Create a software type
      responses:
        '201':
          description: Created
      operationId: postApiV0OrganizationsByOrganizationSlugProjectsByProjectSlugSoftwareTypes
      x-operation-id-source: derived
  /api/v0/organizations/{organization_slug}/projects/{project_slug}/software_types/{software_type}/software_versions:
    parameters:
    - $ref: '#/components/parameters/OrgSlug'
    - $ref: '#/components/parameters/ProjectSlug'
    - name: software_type
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Software
      summary: List software versions
      responses:
        '200':
          description: Paginated software versions
      operationId: getApiV0OrganizationsByOrganizationSlugProjectsByProjectSlugSoftwareTypesBySoftwareTypeSoftwareVersions
      x-operation-id-source: derived
    post:
      tags:
      - Software
      summary: Create a software version
      responses:
        '201':
          description: Created
      operationId: postApiV0OrganizationsByOrganizationSlugProjectsByProjectSlugSoftwareTypesBySoftwareTypeSoftwareVersions
      x-operation-id-source: derived
components:
  parameters:
    ProjectSlug:
      name: project_slug
      in: path
      required: true
      schema:
        type: string
    OrgSlug:
      name: organization_slug
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    orgAuthToken:
      type: http
      scheme: bearer
      bearerFormat: token
      description: 'Organization Auth Token. Use "Authorization: Bearer oat_xxx" for automation

        and full API access.

        '
    basicAuth:
      type: http
      scheme: basic
      description: 'Email + password or Email + user API key via HTTP Basic auth.

        '
    projectKey:
      type: apiKey
      in: header
      name: Memfault-Project-Key
      description: 'Memfault Project Key used by devices and ingestion endpoints (chunks,

        latest release lookup, events, coredumps).

        '
